.like {
    width: 28px;
    height: 28px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 8px;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px 50px;
}

.item {
    height: 300px;
    width: 320px;
    background: rgba(242, 245, 250, 1);
    margin: 10px;
    border-radius: 8px; 
    

  }

 .name {
    font-size: 18px;
 }

 .description {
    font-size: 14px;
    margin: 5px;
 }
 .img {
  border-radius: 8px 8px 0px 0px;
 }